body {
    transform: scale(85%, 85%);
    top: 0%;
    width: 100%;
    height: 1200px;
    color: aliceblue;
}



.pallet {
    gap: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button-ui {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    border: none;
    width: 100px;
    height: 75px;
    background: #DCCCFF;
    border-radius: 8px;
    font-family: sans-serif;
}

.button-ui>div {
    margin-top: -7px;
}

.button-ui:focus {
    color: white;
    background: #49229d;


}

.button-ui:focus .triangle {
    color: white;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #49229d;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 16px solid #55555500;
}



.Pbuttons {
    margin-top: 30px
}

.pTab {
    padding: 20px;
    transition: margin-top 0.5s ease-in-out 0.2s;
}

.ViewResults {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}