.pTab:hover {
    margin-top: -60px;
    transition: margin-top 0.5s ease-in-out 0.2s;
}

.pTab:hover .card-header {
    background: #49229d;

}

.pTab:hover .Topreview {
    color: #DCCCFF;
}

.pTab:hover .card-toptag {
    color: #333333;
    background: #DCCCFF;
}

.pTab:hover .triangle-left {
    border-top: 15px solid transparent;
    border-right: 30px solid #49229d;
    border-bottom: 15px solid transparent;
}

.pTab:hover .card-header-circle {
    color: #333333;
    background: #DCCCFF;

}

.pTab:hover .card-header-circle>h1 {
    position: relative;
    top: 8px;
    margin-left: 15px;
}

.pTab:hover .card-header-Titles {
    color: black;
}

.pTab:hover .card-header-Titles>h1 {
    color: white;
}